bin/*
obj/*
Service References/*
*.suo
*.user
EVE Isk per Hour.vbproj
*.vsidx
*.json
*.json
EVE-IPH-Update-Program/obj/x86/Debug/EVEIPH Updater.vbproj.AssemblyReference.cache
EVEIPH SQLite DLL Updater/obj/Debug/EVEIPH SQLite DLL Updater.vbproj.AssemblyReference.cache
*.cache
*.cache
